<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../stylesheets/style.css" />
    <title>Blogs</title>
  </head>
  <body>
    <header>
      <a href="">Blog App</a>
      <nav class="navbar">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/users/signup">signup</a></li>
          <li><a href="/users/login">login</a></li>
          <li><a href="/users/logout">logout</a></li>
          <li><a href="/article">articles</a></li>
          <li><a href="/article/new">add article</a></li>
        </ul>
      </nav>
    </header>
    <div class="container">
      <% if(user){%>
      <div class="users">Welcom <%= user.fullName()%></div>
      <%}%>
      <div class="articles">
        <ul>
          <% articles.forEach((article)=>{ %>
          <li>
            <h3><%= article.title%></h3>
            <p><%= article.description%></p>
            <p>Written by: <span><%= article.author%></span></p>
            <a href="/article/<%= article._id %>/detail">
              <button class="btn">See more</button>
            </a>
          </li>
          <%})%>
        </ul>
      </div>
    </div>
  </body>
</html>
