<%- include('content/header') -%>
<div class="container">
  <div class="form-control">
    <h2>Login</h2>
    <% if(ep) { %>
    <p><%= ep %></p>
    <% } %> <% if(email) { %>
    <p><%= email %></p>
    <% } %> <% if(password) { %>
    <p><%= password %></p>
    <% } %>
    <form action="/users/login" method="POST">
      <input type="email" name="email" id="email" placeholder="Enter Email" />
      <input
        type="password"
        name="password"
        id="password"
        placeholder="Enter Password"
      />
      <input type="submit" value="Login" />
    </form>
  </div>
</div>
<%- include('content/footer') -%>
